MONGO_INITDB_ROOT_USERNAME=MONGO_INITDB_ROOT_USERNAME
MONGO_INITDB_ROOT_PASSWORD=MONGO_INITDB_ROOT_PASSWORD
MONGO_URL=MONGO_URL

DATABASE_NAME=DATABASE_NAME

SECRET=SECRET 

INITIAL_USER=INITIAL_USER=admin
INITIAL_PASSWORD=INITIAL_PASSWORD